<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css">

    <title>admin - allergielijst</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</head>
<body>

<header th:replace="admin/fragments/header :: header"></header>

<th:block sec:authorize="hasAuthority('MENU')">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-2 mt-2">
            <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Allergielijst</li>
        </ol>
    </nav>

<div class="container-fluid mt-5">
    <h4>allergielijst</h4>
    <hr>
</div>

<div class="container mt-2" >
    <div class="row d-flex justify-content-center">
        <th:block th:each="allergy : ${allergyList}">
            <div class="card col-12 col-lg-4 col-xl-3 m-2">
                <div class="card-header">
                    <h4 th:text="${allergy.name}">name placeholder</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">aantal producten: <span th:text="${allergy.products.size()}"></span></p>
                    <a th:href="@{|/admin/allergie/${allergy.id}|}" class="btn btn-dark">aanpassen</a>
                </div>
            </div>
        </th:block>
    </div>

    <a id="new">
        <div class="row mt-5 w-100">
            <h5>Nieuwe allergie aanmaken</h5>
            <hr>
            <form method="post" th:action="@{|/admin/newallergy|}" class="d-flex justify-content-center">
                <div class="card col-12 col-lg-4 col-xl-3 m-2" th:object="${newAllergy}">
                    <div class="card-header">
                        <input type="text" th:field="*{name}" class="form-control">
                    </div>
                    <div class="card-body">
                        <input type="submit" value="aanmaken" class="btn btn-dark">
                    </div>
                </div>
            </form>
        </div>
    </a>
</div>

</th:block>


<th:block th:unless="${#authorization.expression('hasAuthority(''MENU'')')}">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-2 mt-2">
            <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="|Access denied|"></li>
        </ol>
    </nav>
    <div class="container-fluid mt-5">
        <h5>Geen rechten om deze pagina te bekijken</h5>
    </div>
</th:block>

</body>
</html>