<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css">

    <title>admin - contributers</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</head>
<body>

<header th:replace="admin/fragments/header :: header"></header>
<a th:href="@{|/admin/contributers|}" class="btn btn-dark m-2">naar overzicht contributers</a>

<div class="container-fluid mt-5 mx-auto px-0 row d-flex justify-content-center">
    <div class="card col-12 col-lg-4 col-xl-3 m-2">
        <form method="post" th:action="@{|/admin/updatecontributer/${contributer.id}|}" th:object="${contributer}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*') || (isError !=null && isError)}">data kan niet worden opgeslagen</div>
            <p>
            <div class="card-header">
            <!-- Button trigger remove modal -->
            <div class="container-fluid w-100 p-0">
                <button type="button" class="btn btn-outline-danger float-end" data-bs-toggle="modal"
                        data-bs-target="#removeModal">
                    x
                </button>
            </div>
                <label for="name" class="form-label">Naam:</label>
                <input id="name" type="text" class="form-control" th:field="*{artistName}"
                       th:errorclass="|alert-danger|">
                <label for="platform" class="form-label">platform:</label>
                <input type="text" id="platform" class="form-control" th:field="*{siteName}">
            </div>
            <div class="card-body">
                <label for="contribution" class="form-label">Bijdrage:</label>
                <input type="text" class="form-control" id="contribution" th:field="*{productName}"
                       th:errorclass="|alert-danger|">
                <label for="siteArtist" class="form-label">Site url artist:</label>
                <input type="text" id="siteArtist" class="form-control" th:field="*{artistUrl}">
                <label for="sitePlatform" class="form-label">Site url platform:</label>
                <input type="text" id="sitePlatform" class="form-control" th:field="*{siteUrl}">
                <p class="form-label">voor site:</p>
                <div class="d-flex justify-content-start">
                <input type="checkbox" id="domain" class="form-check" name="domain[]" th:value="${domainBistro.id}"
                       th:checked="${contributer.domain.contains(domainBistro)}"> Lientjes Bistro
                </div>
                <div class="d-flex justify-content-start">
                <input type="checkbox" id="domain" class="form-check" name="domain[]" th:value="${domainBolo.id}"
                       th:checked="${contributer.domain.contains(domainBolo)}">Lientjes Bolo
                </div>
            </div>
            <div class="m-3">
                <input type="submit" value="opslaan" class="btn btn-dark">
            </div>
        </form>
    </div>
</div>

<!-- remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Contributer verwijderen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bent u zeker dat u deze contributer wilt verwijderen?</p>
                <p><strong>Deze actie is permanent</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" th:action="@{|/admin/removecontributer/${contributer.id}|}">
                    <input type="submit" value="verwijderen" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>