<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" th:href="@{|/css/customCheckBoxStyle.css|}">
    <link rel="stylesheet" th:href="@{|/css/customRadioStyle.css|}">

    <title>admin - afbeeldingen google</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6e9f44a530.js" crossorigin="anonymous"></script>
</head>
<script th:src="@{|/js/FileValidation.js|}"></script>
<body>

<header th:replace="admin/fragments/header :: header"></header>

<th:block sec:authorize="hasAuthority('IMAGE_EDIT')">

    <nav aria-label="breadcrumb" th:unless="${domain}">
        <ol class="breadcrumb ms-2 mt-2">
            <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{|/admin/afbeeldingen|}">Afbeeldingen</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="|Afbeeldingen voor Google|"></li>
        </ol>
    </nav>

    <nav aria-label="breadcrumb" th:if="${domain} ? (${domain == domainBistro} ? ${#authorization.expression('hasAuthority(''BISTRO'')')} : ${#authorization.expression('hasAuthority(''BOLO'')')}) : 1==0 ">
        <ol class="breadcrumb ms-2 mt-2">
            <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{|/admin/afbeeldingen|}">Afbeeldingen</a></li>
            <li class="breadcrumb-item"><a th:href="@{|/admin/afbeeldingen/afbeeldingengoogle|}">Afbeeldingen voor
                Google</a></li>
            <li class="breadcrumb-item active" aria-current="page"
                th:text="${domain == domainBistro} ? |Bistro| : |Bolo|"></li>
        </ol>
    </nav>

    <div class="container-fluid mt-5" th:if="${domain} ? (${domain == domainBistro} ? ${#authorization.expression('hasAuthority(''BISTRO'')')} : ${#authorization.expression('hasAuthority(''BOLO'')')}) : 1==1 ">
        <h4>Afbeeldingen</h4>
        <hr>
    </div>
    <div class="container mt-4" th:if="${domain == null || domain == domainBistro}" sec:authorize="hasAuthority('BISTRO')">
        <h4>Afbeeldingen voor Bistro</h4>

        <form method="post" th:action="@{|/admin/addgoogleimage/${domainBistro.id}|}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload nieuwe afbeelding</label>
                <input class="form-control" type="file" id="formFile" name="newImage" oninput="Filevalidation()">
                <p class="text-muted ms-3 my-1">File niet groter dan 2048Kb</p>
                <p class="text-muted ms-3 my-1" id="size"></p>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="uploaden" id="fileUpload" class="btn btn-dark m-2">
                    <button type="button" class="btn btn-dark my-2 align-self-center"
                            data-bs-toggle="modal"
                            data-bs-target="#imageModal">
                        bestaande afbeelding selecteren
                    </button>
                </div>
            </div>
        </form>

        <hr>
        <h4>Getoonde afbeeldingen</h4>
        <div class="row mb-3" th:unless="${imageGoogleBistroList.isEmpty()}">

            <div class="col-12 col-md-3 my-5" th:each="image : ${imageGoogleBistroList}">
                <div class="card">
                    <div class="ratio ratio-4x3">
                        <img th:src="@{${image.image.imageLocation}}" class="img-fluid card-img-top object-cover">
                    </div>
                    <div class="card-img-overlay d-flex justify-content-end">
                        <form method="post" th:action="@{|/admin/afbeeldingen/google/remove/${image.id}|}">
                            <input type="submit" value="x" class="btn btn-danger" style="z-index: 3">
                        </form>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{|/admin/afbeeldingen/google/orderchange/${image.id}|}">
                            <label th:for="|imageGoogle${image.id}|" class="form-label">positie:</label>
                            <select name="orderNr" th:id="|imageGoogle${image.id}|" class="form-select">
                                <option th:each="i : ${#numbers.sequence(1, imageGoogleBistroList.size)}"
                                        th:value="${i}"
                                        th:text="${i}" th:selected="${i == image.orderNr}"></option>
                            </select>
                            <div class="col-12 d-flex justify-content-center">
                                <input type="submit" value="opslagen" class="btn btn-dark">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" th:if="${imageGoogleBistroList.isEmpty()}">
            <p class="lead">Nog geen afbeeldingen geselecteerd voor google voor Bistro</p>
        </div>
    </div>


    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel"
         aria-hidden="true" sec:authorize="hasAuthority('BISTRO')">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Foto wijzigen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center mt-4">bestaande foto selecteren</h4>
                    <form method="post" th:action="@{|/admin/images/imagegoogle/1|}"
                          th:unless="${usedImagesList.isEmpty()}">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-8 my-3"
                                 th:each="image : ${usedImagesList}"
                                 th:object="${image}">
                                <label class="ratio ratio-1x1">
                                    <input type="radio" th:value="*{id}" name="imageId">
                                    <img th:src="*{imageLocation}" class="object-cover img-fluid">
                                </label>
                            </div>
                        </div>
                        <input type="submit" value="opslagen" class="btn btn-dark m-2">
                    </form>
                    <p class="lead text-center" th:if="${usedImagesList.isEmpty()}">Kan geen afbeeldingen vinden voor
                        Google</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5" th:unless="${domain}">
        <hr>
    </div>

    <div class="container mt-4" th:if="${domain == null || domain == domainBolo}" sec:authorize="hasAuthority('BOLO')">
        <h4>Afbeeldingen voor Bolo</h4>

        <form method="post" th:action="@{|/admin/addgoogleimage/${domainBolo.id}|}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload nieuwe afbeelding</label>
                <input class="form-control" type="file" id="formFile1" name="newImage" oninput="Filevalidation()">
                <p class="text-muted ms-3 my-1">File niet groter dan 2048Kb</p>
                <p class="text-muted ms-3 my-1" id="size1"></p>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="uploaden" id="fileUpload1" class="btn btn-dark m-2">
                    <button type="button" class="btn btn-dark my-2 align-self-center"
                            data-bs-toggle="modal"
                            data-bs-target="#imageModal1">
                        bestaande afbeelding selecteren
                    </button>
                </div>
            </div>
        </form>

        <hr>
        <h4>Getoonde afbeeldingen</h4>
        <div class="row mb-3" th:unless="${imageGoogleBoloList.isEmpty()}">

            <div class="col-12 col-md-3 my-5" th:each="image : ${imageGoogleBoloList}">
                <div class="card">
                    <div class="ratio ratio-4x3">
                        <img th:src="@{${image.image.imageLocation}}" class="img-fluid card-img-top object-cover">
                    </div>
                    <div class="card-img-overlay d-flex justify-content-end">
                        <form method="post" th:action="@{|/admin/afbeeldingen/google/remove/${image.id}|}">
                            <input type="submit" value="x" class="btn btn-danger" style="z-index: 3">
                        </form>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{|/admin/afbeeldingen/google/orderchange/${image.id}|}">
                            <label th:for="|imageGoogle${image.id}|" class="form-label">positie:</label>
                            <select name="orderNr" th:id="|imageGoogle${image.id}|" class="form-select">
                                <option th:each="i : ${#numbers.sequence(1, imageGoogleBoloList.size)}" th:value="${i}"
                                        th:text="${i}" th:selected="${i == image.orderNr}"></option>
                            </select>
                            <div class="col-12 d-flex justify-content-center">
                                <input type="submit" value="opslagen" class="btn btn-dark">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" th:if="${imageGoogleBoloList.isEmpty()}">
            <p class="lead">Nog geen afbeeldingen geselecteerd voor google voor Bolo</p>
        </div>
    </div>


    <div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModalLabel1"
         aria-hidden="true" sec:authorize="hasAuthority('BOLO')">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel1">Foto wijzigen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center mt-4">bestaande foto selecteren</h4>
                    <form method="post" th:action="@{|/admin/images/imagegoogle/2|}">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-8 my-3"
                                 th:each="image : ${usedImagesList}"
                                 th:object="${image}">
                                <label class="ratio ratio-1x1">
                                    <input type="radio" th:value="*{id}" name="imageId">
                                    <img th:src="*{imageLocation}" class="object-cover img-fluid">
                                </label>
                            </div>
                        </div>
                        <input type="submit" value="opslagen" class="btn btn-dark m-2">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <th:block th:unless="${domain} ? (${domain == domainBistro} ? ${#authorization.expression('hasAuthority(''BISTRO'')')} : ${#authorization.expression('hasAuthority(''BOLO'')')}) : 1==1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2 mt-2">
                <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{|/admin/afbeeldingen|}">Afbeeldingen</a></li>
                <li class="breadcrumb-item"><a th:href="@{|/admin/afbeeldingen/afbeeldingengoogle|}">Afbeeldingen voor Google</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="|Access denied|"></li>
            </ol>
        </nav>
        <div class="container-fluid mt-5">
            <h5>Geen rechten om deze pagina te bekijken</h5>
        </div>
    </th:block>
</th:block>
<th:block th:unless="${#authorization.expression('hasAuthority(''IMAGE_EDIT'')')}">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-2 mt-2">
            <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="|Access denied|"></li>
        </ol>
    </nav>
    <div class="container-fluid mt-5">
        <h5>Geen rechten om deze pagina te bekijken</h5>
    </div>
</th:block>
</body>
</html>