<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css">

    <title>admin - Personeellijst</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</head>
<body>

<header th:replace="admin/fragments/header :: header"></header>

<th:block sec:authorize="hasAuthority('PERSONNEL')">

    <div class="jumbotron my-5">
        <div class="container">
            <h1 class="lead">Personeellijst</h1>
            <hr class="mx-5 my-4">
        </div>
    </div>
    <div th:if="${countNoMatch == true}" class="container-fluid alert alert-danger">
        <h4>per home pagina moeten er <strong>3</strong> personeelleden aanwezig zijn</h4>
    </div>

    <th:block th:if="${personnelList != null}">


        <div class="container-fluid w-75">
            <form method="post"
                  th:action="${domain} ? @{|/admin/personnel/updatehomepage/${domain.id}|} : @{|/admin/personnel/updatehomepage|}">
                <div class="row justify-content-start">
                    <th:block th:each="personnel : ${personnelList}" th:object="${personnel}">
                        <div class="col-12 col-lg-4 col-xl-3" th:if="${personnel.domain == domainBistro} ? ${#authorization.expression('hasAuthority(''BISTRO'')')} : ${#authorization.expression('hasAuthority(''BOLO'')')}">
                            <div class="card w-100 my-2">
                                <img th:src="*{image.imageLocation}" class="object-cover mobile-image"
                                     alt="personeel afbeelding">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="*{name}"></h5>
                                    <h6 class="card-subtitle text-muted mt-1"
                                        th:text="${personnel.domain.id == 1}? 'Lientjes Bistro' : 'Lientjes Bolo'"></h6>
                                    <h6 class="card-subtitle text-muted mb-1" th:text="*{functionDescription}"></h6>
                                    <p class="card-text" th:text="*{extraInfo}"></p>
                                    <div class="form-check my-2">
                                        <input type="checkbox" id="onHomePage" name="onHomePage[]"
                                               th:value="${personnel.id}"
                                               th:checked="${personnel.domain.id == 1} ? ${personnel.pages.contains(homepageBistro)} : ${personnel.pages.contains(homepageBolo)}"
                                               class="form-check-input">
                                        <label for="onHomePage" class="form-check-label"
                                               th:text="${personnel.domain.id == 1} ? 'Op homepagina Bistro' : 'Op homepagina Bolo' "></label>
                                    </div>
                                    <div class="container-fluid d-flex justify-content-center">
                                        <a th:href="@{|/admin/personeeldetail/*{id}|}" class="btn btn-dark">update info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="row d-flex justify-content-center">
                    <input type="submit" value="opslagen" class="btn btn-dark w-25">
                </div>
            </form>
            <a id="nieuwpersoneel">
                <div class="row">
                    <div class="container w-100 mt-5">
                        <h3>Nieuw personeel toevoegen</h3>
                        <hr>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="card w-100 my-2" th:object="${newPersonnel}">
                            <img th:src="*{image.imageLocation}" class="object-cover mobile-image"
                                 alt="personeel afbeelding">
                            <div class="card-body">
                                <form method="post" th:action="@{|/admin/newpersonnel|}">
                                    <div class="container d-flex flex-lg-row flex-column justify-content-lg-between justify-content-start mw-100 my-1">
                                        <label class="card-title" for="name">naam: </label>
                                        <input class="w-75" type="text" id="name" th:field="*{name}">
                                    </div>
                                    <div class="container d-flex flex-lg-row flex-column justify-content-lg-between justify-content-start mw-100 my-1">
                                        <label class="card-subtitle" for="domain">werkt bij:</label>
                                        <select name="domainId" id="domain">
                                            <option value="1" th:if="${#authorization.expression('hasAuthority(''BISTRO'')')}">Lientjes Bistro</option>
                                            <option value="2" th:if="${#authorization.expression('hasAuthority(''BOLO'')')}">Bolo Lientjes</option>
                                        </select>
                                    </div>
                                    <div class="container d-flex flex-lg-row flex-column justify-content-lg-between justify-content-start mw-100 my-1">
                                        <label class="card-subtitle" for="function">functie: </label>
                                        <input class="w-75" type="text" id="function" th:field="*{functionDescription}">
                                    </div>
                                    <div class="container d-flex flex-column justify-content-start my-1">
                                        <label class="card-text" for="extraInfo">extra info:</label>
                                        <textarea class="card-text" th:field="*{extraInfo}" id="extraInfo" cols="30"
                                                  rows="5"></textarea>
                                    </div>
                                    <div class="container-fluid d-flex justify-content-center">
                                        <input type="submit" value="opslagen" class="btn btn-dark">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </th:block>

    <th:block th:unless="${personnelList != null}">
        <h4 class="text-center">Domein kan niet gevonden worden</h4>
    </th:block>
</th:block>

<th:block th:unless="${#authorization.expression('hasAuthority(''PERSONNEL'')')}">
    <div class="container-fluid">
        <h5>Geen rechten om deze pagina te bekijken</h5>
    </div>
</th:block>

</body>
</html>