<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{|/css/admin.css|}">
    <link rel="stylesheet" th:href="@{|/css/customRadioStyle.css|}">

    <title>admin - personeel</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</head>
<body>

<header th:replace="admin/fragments/header :: header"></header>

<th:block sec:authorize="hasAuthority('PERSONNEL')">
    <th:block th:if="${personnel}">
        <th:block th:if="${personnel.domain == domainBistro} ? ${#authorization.expression('hasAuthority(''BISTRO'')')} : ${#authorization.expression('hasAuthority(''BOLO'')')}">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ms-2 mt-2">
                    <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{|/admin/personeellijst|}">Personeellijst</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${personnel.name}"></li>
                </ol>
            </nav>

            <div class="row w-100">
                <div class="container col-10 col-md-6 col-xl-3 mx-auto my-5">
                    <div class="card w-100 h-100 my-2">
                        <div class="container-fluid d-flex flex-column justify-content-center">
                            <!-- Button trigger remove modal -->
                            <div class="container-fluid w-100 p-0">
                                <button type="button" class="btn btn-outline-danger float-end"
                                        data-bs-toggle="modal"
                                        data-bs-target="#removeModal">
                                    x
                                </button>
                            </div>
                            <img th:src="${personnel.image.imageLocation}" class="object-cover mobile-image"
                                 alt="personeel afbeelding">
                            <button type="button" class="btn btn-dark w-75 my-2 align-self-center"
                                    data-bs-toggle="modal"
                                    data-bs-target="#imageModal">
                                afbeelding wijzigen
                            </button>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{|/admin/personeeldetail/*{id}|}"
                                  enctype="multipart/form-data"
                                  th:object="${personnel}">
                                <div class="w-100 alert alert-danger" role="alert"
                                     th:if="${#fields.hasErrors('*')}">Gelieve
                                    alle velden in te
                                    vullen
                                </div>
                                <label class="form-label" for="name">naam:</label>
                                <input id="name" type="text" class="card-title form-control" th:field="*{name}"
                                       th:errorclass="alert-danger">
                                <label class="card-subtitle form-label" for="domain">werkt bij:</label>
                                <select class="form-select" name="domainId" id="domain">
                                    <option value="1" th:selected="${personnel.domain.id == 1}"
                                            th:if="${#authorization.expression('hasAuthority(''BISTRO'')')}">
                                        Lientjes Bistro
                                    </option>
                                    <option value="2" th:selected="${personnel.domain.id == 2}"
                                            th:if="${#authorization.expression('hasAuthority(''BOLO'')')}">Bolo
                                        Lientjes
                                    </option>
                                </select>
                                <label class="form-label" for="function">functie:</label>
                                <input id="function" type="text" class="card-subtitle text-muted form-control"
                                       th:field="*{functionDescription}" th:errorclass="alert-danger">
                                <label class="form-label mt-3" for="description">beschrijving:</label>
                                <textarea id="description" class="card-text w-100 my-2 form-control" cols="12"
                                          rows="5"
                                          th:field="*{extraInfo}" th:errorclass="alert-danger"> </textarea>

                                <div class="container-fluid d-flex justify-content-center">
                                    <input type="submit" class="btn btn-dark" value="bevestigen">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </th:block>
        </div>

        <!-- image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Foto wijzigen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-center">Nieuwe foto selecteren</h4>
                        <form method="post" th:action="@{|/admin/personnel/newimage/${personnel.id}|}"
                              enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Upload nieuwe foto</label>
                                <input class="form-control" type="file" id="formFile" name="newImage">
                                <p class="text-muted ms-3">File niet groter dan 2Mb</p>
                                <input type="submit" value="uploaden" class="btn btn-dark m-2">
                            </div>
                        </form>
                        <hr class="my-2">
                        <h4 class="text-center mt-4">bestaande foto selecteren</h4>
                        <form method="post" th:action="@{|/admin/personnel/imagechange/${personnel.id}|}">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-8 d-flex flex-row mx-auto my-3"
                                     th:each="image : ${personnelImages}"
                                     th:object="${image}">
                                    <label>
                                        <input type="radio" id="btnLoad" th:value="*{id}" name="imageId"
                                               th:checked="${personnel.image == image}">
                                        <img th:src="*{imageLocation}" class="object-cover w-100">
                                    </label>
                                </div>
                            </div>
                            <input type="submit" value="opslagen" class="btn btn-dark m-2">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- remove Modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeModalLabel">Persoon verwijderen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bent u zeker dat u deze persoon wilt verwijderen?</p>
                        <p><strong>Deze actie is permanent</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form method="post" th:action="@{|/admin/removepersonnel/${personnel.id}|}">
                            <input type="submit" value="verwijderen" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <th:block th:unless="${personnel.domain == domainBistro} ? ${#authorization.expression('hasAuthority(''BISTRO'')')} : ${#authorization.expression('hasAuthority(''BOLO'')')}">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2 mt-2">
                <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{|/admin/personeellijst|}">Personeellijst</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="|Access denied|"></li>
            </ol>
        </nav>
        <div class="container-fluid mt-5">
            <h5>Geen rechten om deze pagina te bekijken</h5>
        </div>
    </th:block>
</th:block>
<th:block th:unless="${personnel}">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2 mt-2">
                <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{|/admin/personeellijst|}">personeellijst</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="|pagina niet gevonden|"></li>
            </ol>
        </nav>

        <h5 class="m-3 text-center">Deze pagina kan niet gevonden worden</h5>
    </div>
</th:block>
</th:block>
<th:block th:unless="${#authorization.expression('hasAuthority(''PERSONNEL'')')}">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-2 mt-2">
            <li class="breadcrumb-item"><a th:href="@{|/admin/home|}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="|Access denied|"></li>
        </ol>
    </nav>
    <div class="container-fluid mt-5">
        <h5>Geen rechten om deze pagina te bekijken</h5>
    </div>
</th:block>

</body>
</html>