<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="header-navigation" th:fragment="header">
    <nav class="navigation">
        <ul>
            <li><a th:classappend="${page != null} ? (${page.getPageName().toLowerCase().equals('home')} ? active-page-header)" href="/bistro/home">Home</a></li>
            <li><a th:classappend="${page != null} ? (${page.getPageName().toLowerCase().equals('menu')} ? active-page-header)" href="/bistro/menu">Menu</a></li>
            <li><a th:classappend="${page != null} ? (${page.getPageName().toLowerCase().equals('contact')} ? active-page-header)" href="/bistro/contact">Contact</a></li>
        </ul>
    </nav>
</header>

</body>
</html>