<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Norican&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{|/css/stylePrefix.css|}">
    <link rel="stylesheet" th:href="@{|/css/normalize.css|}">

    <title>Lientjes Bistro - contact</title>
</head>
<body>

<header th:replace="bistro/fragments/header :: header"></header>

<main>
    <section th:replace="bistro/fragments/firstsectiontemplate :: firstsection"></section>

    <section class="homepage-first-section">
        <div class="contact-info-section">
            <h1 th:text="${headerText.get(0).getTextContent()}">header placeholder</h1>
            <div th:each="contactInfo : ${contactInfoList}" class="contact-line">
                <img th:class="inline-logo" th:src="${contactInfo.getImage().getImageLocation()}">
                <div class="contact-info-text">
                    <p><span th:text="${contactInfo.getInfoName()}">name placeholder</span>:</p>
                    <p th:text="${contactInfo.getInfoContent()}">content placeholder </p>
                </div>
            </div>
        </div>
        <div class="contact-social-media-section">
            <h1 th:text="${headerText.get(1).getTextContent()}">header placeholder</h1>
            <div class="button-container">
                <th:block th:each="socialMedia : ${socialMediaList}">
                    <a th:href="${socialMedia.getSocialMediaUrl()}" class="social-media-button" target="_blank">
                        <img th:src="${socialMedia.getImage().getImageLocation()}" alt="">
                </th:block>
                </a>
            </div>
        </div>
        <div class="map-section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156.5514437974912!2d4.3380411402457675!3d51.111723929227594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f2117d26e7d7%3A0x90d4e0975f273fb!2sLientje&#39;s%20Bistro!5e0!3m2!1sen!2sbe!4v1616099780630!5m2!1sen!2sbe" allowfullscreen="" loading="lazy"></iframe>
            <p>Vind makkelijk je weg naar ons!</p>
        </div>
    </section>
</main>

<footer th:replace="bistro/fragments/footer :: footer"></footer>

</body>
</html>