<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Norican&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{|/css/stylePrefix.css|}">
    <link rel="stylesheet" th:href="@{|/css/normalize.css|}">

    <title>Lientjes Bistro - Home</title>
</head>
<body>

<header th:replace="bistro/fragments/header :: header"></header>


<main>
    <section class="page-header">
        <div class="header-image">
            <img src="/images/general/pexels-negative-space-134577.jpg" alt="">
        </div>
        <div class="header-text">
            <h1 class="header-title">
                Lientjes <br>
                <span class="title-inset">bistro</span>
            </h1>
        </div>
    </section>


    <section class="homepage-first-section">
        <div class="welcome-title">
            <h1>
                <span class="line-1">take</span> <br>
                <span class="line-2">a</span> <br>
                <span class="line-3">break</span>
            </h1>
        </div>
        <div class="welcome-text-section">
            <h1 th:text="${headerText.get(0).getTextContent()}">header placeholder 0</h1>
            <p th:text="${paragraphText.get(0).getTextContent()}">paragraph placeholder 0</p>
        </div>
        <div class="welcome-team-section">
            <h1 th:text="${headerText.get(1).getTextContent()}">header placeholder 1</h1>
            <p th:text="${paragraphText.get(1).getTextContent()}">paragraph placeholder 1</p>
            <a href="/bistro/personeel" class="arrow-button">
                <p th:text="${paragraphText.get(2).getTextContent()}">paragraph placeholder 2</p>
                <img class="inline-logo" th:src="${rightArrow.getImage().getImageLocation()}" alt="">
            </a>

            <div class="image-personnel-container">
                <div class="personnel-left personnel-container">
                    <img th:src="${personnelList.get(0).getImage().getImageLocation()}" alt="foto personeel links"
                         class="image-personnel">
                    <p>
                        <span th:text="${personnelList.get(0).getName()}">personnel member name placeholder</span>
                        <br> - <br>
                        <span th:text="${personnelList.get(0).getFunctionDescription()}">function description placeholder</span>
                    </p>
                </div>
                <div class="personnel-middle personnel-container">
                    <img th:src="${personnelList.get(1).getImage().getImageLocation()}" alt="foto personeel midden"
                         class="image-personnel">
                    <p>
                        <span th:text="${personnelList.get(1).getName()}">personnel member name placeholder</span>
                        <br> - <br>
                        <span th:text="${personnelList.get(1).getFunctionDescription()}">function description placeholder</span>
                    </p>
                </div>
                <div class="personnel-right personnel-container">
                    <img th:src="${personnelList.get(2).getImage().getImageLocation()}" alt="foto personeel rechts"
                         class="image-personnel">
                    <p>
                        <span th:text="${personnelList.get(2).getName()}">personnel member name placeholder</span>
                        <br> - <br>
                        <span th:text="${personnelList.get(2).getFunctionDescription()}">function description placeholder</span>
                    </p>
                </div>
            </div>
        </div>


    </section>

    <section class="homepage-second-section">
        <div class="homepage-menu-text">
            <h1 th:text="${headerText.get(2).getTextContent()}">header placeholder 2</h1>
            <a href="/bistro/menu" class="arrow-button">
                <p th:text="${paragraphText.get(3).getTextContent()}">paragraph placeholder 3</p>
                <img class="inline-logo" th:src="${rightArrow.getImage().getImageLocation()}" alt="">
            </a>
        </div>

        <div class="homepage-contact-text">
            <h1 th:text="${headerText.get(3).getTextContent()}">header placeholder 3</h1>
            <p th:utext="${paragraphText.get(4).getTextContent()}">paragraph placeholder 4</p>
            <a href="/bistro/contact" class="arrow-button">
                <p th:text="${paragraphText.get(5).getTextContent()}">paragraph placeholder 5</p>
                <img class="inline-logo" th:src="${rightArrow.getImage().getImageLocation()}" alt="">
            </a>
        </div>
    </section>

    <section class="homepage-first-section">

        <div class="homepage-openingsuren-section">
            <h1 th:text="${headerText.get(4).getTextContent()}">header placeholder 4</h1>
            <th:block th:each="opening : ${openingsuren}">
                <p th:text="${opening.getDag()}">dag placeholder</p>
                <th:block th:if="${opening.getOpeningsuur() != null}">
                    <p>
                        <span th:text="${#dates.format(opening.getOpeningsuur(), 'HH:mm')}">openingsuur placeholder</span>
                        -
                        <span th:text="${#dates.format(opening.getSluitingsuur(), 'HH:mm')}">suitingsuur placeholder</span>
                    </p>
                </th:block>
                <th:block th:unless="${opening.getOpeningsuur() != null}">
                    <p>Gesloten</p>
                </th:block>
            </th:block>
        </div>

        <div class="homepage-social-media-section">
            <h1 th:text="${headerText.get(5).getTextContent()}">header placeholder 5</h1>
            <div class="button-container">
                <th:block th:each="socialMedia : ${socialMediaList}">
                    <a th:href="${socialMedia.getSocialMediaUrl()}" class="social-media-button" target="_blank">
                        <img th:src="${socialMedia.getImage().getImageLocation()}" alt="">
                    </a>
                </th:block>
            </div>
        </div>

        <div class="homepage-bolo-section">
            <h1 th:text="${headerText.get(6).getTextContent()}">header placeholder 6</h1>
            <a href="" class="bolo-button">
                <p th:text="${paragraphText.get(6).getTextContent()}">paragraph placeholder 6</p>
                <img class="inline-logo" th:src="${rightArrow.getImage().getImageLocation()}" alt="">
            </a>
        </div>
    </section>
</main>

<footer th:replace="bistro/fragments/footer :: footer"></footer>

</body>
</html>