<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Norican&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{|/css/stylePrefix.css|}">

    <title th:utext="|Lientjes Bistro - menu - ${menuSection != null ? menuSection.name : 'sectie not found'}|">placeholder</title>

    <script src="https://kit.fontawesome.com/6e9f44a530.js" crossorigin="anonymous"></script>

    <script>
        function toggleFilter(filterTextShownId, filterTextHiddenId, filterSectionId) {
            const filterSectionObject = document.getElementById(filterSectionId);
            const filterTextShowObject = document.getElementById(filterTextShownId);
            const filterTextHiddenObject = document.getElementById(filterTextHiddenId);

            filterSectionObject.classList.toggle("hide");
            filterTextShowObject.classList.toggle("hide");
            filterTextHiddenObject.classList.toggle("hide");
        }
    </script>

</head>
<body>

<header th:replace="bistro/fragments/header :: header"></header>

<th:block th:if="${menuSection != null}">
    <div class="arrow-section">
        <a th:href="@{|/bistro/menudetails/${nextId}|}" class="right-arrow">
            <i class="fas fa-arrow-right"></i>
        </a>
        <a th:href="@{|/bistro/menudetails/${prevId}|}" class="left-arrow">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</th:block>

<section class="page-header">
    <div class="header-image">
        <img th:src="@{${page.getImage().getImageLocation()}}" alt="">
    </div>
    <div class="header-text">
        <h1 class="header-title">
            menu
        </h1>
    </div>
</section>

<section class="homepage-first-section">
    <div class="menu-header">
        <th:block th:if="${menuSection != null}">
            <div class="menu-filter-container">
                <div class="filter-show-button" onclick="toggleFilter('shown-text', 'hidden-text', 'filter-field')">
                    <p class="filter-text-hidden" id="hidden-text"> show filters </p>
                    <p class="filter-text-shown hide" id="shown-text"> hide filters </p>
                </div>
                <form class="menu-filters hide" method="post" th:action="@{|/bistro/menudetails/${menuSection.id}|}" th:object="${filterWrapper}" id="filter-field">
                    <div class="filter-block">
                        <h3>Zoeken op naam:</h3>
                        <input type="text" list="productNames" name="productSearch" th:value="*{productSearch}">
                        <datalist id="productNames">
                            <option th:each="product : ${productList}" th:value="${product.name}">
                            </option>
                        </datalist>
                    </div>

                    <div class="filter-block" th:if="*{!allergieList.isEmpty()}">
                        <h3>Allergie:</h3>
                        <div class="filter-line" th:each="allergie : *{allergieList}">
                            <input type="checkbox" name="allergy[]" th:value="${allergie.id}"
                                   th:utext="${allergie.name}" th:checked="${filterWrapper.allergyIdList != null} ? ${filterWrapper.allergyIdList.contains(allergie.id)}">
                        </div>

                    </div>

                    <div class="filter-block" th:if="*{!categoryList.isEmpty()}">
                        <h3>Categorie:</h3>
                        <div class="filter-line" th:each="category : *{categoryList}">
                            <div class="input-line">
                                <input type="checkbox" th:id="${category.id}" name="category[]"
                                       th:value="${category.id}" th:utext="${category.name}"
                                       th:checked="${filterWrapper.categoryIdList != null} ? ${filterWrapper.categoryIdList.contains(category.id)}">
                            </div>
                        </div>
                    </div>

                    <div class="submit-filter">
                        <input type="submit" value="zoeken" class="filter-button">
                    </div>

                </form>
            </div>
        </th:block>
        <h1 th:if="${menuSection != null}" th:utext="${menuSection.name}">name placeholder</h1>
        <h1 th:if="${menuSection == null}">Geen menuonderdeel geselecteerd</h1>
    </div>
    <div class="menu-section-grid"
         th:if="${menuSection != null && !menuSection.getMenuSubSectionList().containsAll(menuSubSectionList)}">
        <th:block th:each="subSection : ${menuSection.getMenuSubSectionList()}">
                <div class="menu-section">
                    <h2 th:utext="${subSection.name}"> placeholder</h2>
                    <p th:utext="${subSection.extraInfo}" class="product-extra-info">placeholder</p>
                    <div class="product-line" th:each="product : ${subSection.getProducts()}"
                         th:if="${filteredProductList == null || !filteredProductList.contains(product)}">
                        <p class="product-name" th:utext="${product.name}"> placeholder</p>
                        <p class="product-price" th:if="${product.priceInEur != null}"
                           th:utext="${product.priceInEur}"></p>
                        <p class="product-extra-info" th:if="${product.extraInfo != null}"
                           th:utext="${product.extraInfo}">placeholder</p>
                    </div>
                </div>
        </th:block>
    </div>

    <!--<th:block th:if="${menuSection != null && menuSection.getMenuSubSectionList().containsAll(menuSubSectionList)}">
        <th:block th:each="menuSectionLoop : ${menuSectionList}">
            <div class="menu-header">
                <h2 th:utext="${menuSectionLoop.name}">name placeholder</h2>
            </div>
            <div class="menu-section-grid">
                <th:block th:each="subSection : ${menuSectionLoop.getMenuSubSectionList()}">
                    <th:block
                            th:if="${productListFiltered != null} ? (${productListFiltered.containsAll(productList)} ? 1==1 : ${!productListFiltered.containsAll(subSection.products)}) : 1==1">
                        <div class="menu-section">
                            <h2 th:utext="${subSection.name}">name sub placeholder</h2>
                            <p th:utext="${subSection.extraInfo}" class="product-extra-info">placeholder</p>
                            <div class="product-line" th:each="product : ${subSection.getProducts()}"
                                 th:if="${productListFiltered != null} ? (${productListFiltered.containsAll(productList)} ? 1==1 : ${!productListFiltered.contains(product)}) : 1==1">
                                <p class="product-name" th:utext="${product.name}"> product name placeholder</p>
                                <p class="product-price" th:if="${product.priceInEur != null}"
                                   th:utext="${product.priceInEur}"></p>
                                <p class="product-extra-info" th:if="${product.extraInfo != null}"
                                   th:utext="${product.getExtraInfo()}"></p>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </th:block>
    </th:block>-->
</section>

<footer th:replace="bistro/fragments/footer :: footer"></footer>

</body>
</html>