<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Norican&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="|/css/style.css|">


    <title th:text="|Lientjes Bistro - menu - ${menuSection.name}|">placeholder</title>
</head>
<body>

<header th:replace="bistro/fragments/header :: header"></header>

<div class="arrow-section">
    <a th:href="@{|/bistro/menudetails/${nextId}|}" class="right-arrow">
        <img class="inline-logo" th:src="@{${rightArrow.image.imageLocation}}" alt="">
    </a>
    <a th:href="@{|/bistro/menudetails/${prevId}|}" class="left-arrow">
        <img class="inline-logo" th:src="@{${rightArrow.image.imageLocation}}" alt="">
    </a>
</div>

<section th:fragment="firstsection" class="page-header">
    <div class="header-image">
        <img src="/images/general/pexels-negative-space-134577.jpg" alt="">
    </div>
    <div class="header-text">
        <h1 class="header-title">
            menu
        </h1>
    </div>
</section>

<section class="homepage-first-section">
    <div class="menu-header">

        <div class="menu-filter-container">
            <div class="filter-show-button"></div>
            <div class="menu-filters">
                <form>
                    <p th:each="category : ${categoryList}" th:text="${category.name}">name placeholder</p>
                    <br>
                    <p th:each="allergie : ${allergieList}" th:text="${allergie.name}">name placeholder</p>
                </form>
            </div>
        </div>

        <h1 th:if="${menuSection != null}" th:text="${menuSection.name}">name placeholder</h1>
        <h1 th:if="${menuSection == null}">Geen menuonderdeel geselecteerd</h1>
    </div>
    <div class="menu-section-grid" th:if="${menuSection != null && !menuSection.getMenuSubSectionList().containsAll(menuSubSectionList)}">
        <div class="menu-section" th:each="subSection : ${menuSection.getMenuSubSectionList()}">
            <h2 th:text="${subSection.name}"> placeholder</h2>
            <div class="product-line" th:each="product : ${subSection.getProducts()}">
                <p class="product-name" th:text="${product.name}"> placeholder</p>
                <p class="product-price" th:if="${product.priceInEur != null}"
                   th:text="${product.priceInEur}"></p>
                <p class="product-extra-info" th:if="${product.extraInfo != null}"
                th:utext="${product.extraInfo}">placeholder</p>
            </div>
        </div>
    </div>

    <th:block th:if="${menuSection != null && menuSection.getMenuSubSectionList().containsAll(menuSubSectionList)}">
        <th:block th:each="menuSectionLoop : ${menuSectionList}">
            <div class="menu-header">
                <h2 th:text="${menuSectionLoop.name}">name placeholder</h2>
            </div>
            <div class="menu-section-grid">
                <div class="menu-section" th:each="subSection : ${menuSectionLoop.getMenuSubSectionList()}">
                    <h2 th:text="${subSection.name}">name sub placeholder</h2>
                    <div class="product-line" th:each="product : ${subSection.getProducts()}">
                        <p class="product-name" th:text="${product.name}"> product name placeholder</p>
                        <p class="product-price" th:if="${product.priceInEur != null}" th:text="${product.priceInEur}"></p>
                        <p class="product-extra-info" th:if="${product.extraInfo != null}" th:utext="${product.getExtraInfo()}"></p>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
</section>

<footer th:replace="bistro/fragments/footer :: footer"></footer>

</body>
</html>