.object-cover{
    object-fit: cover;
    object-position: 50% 10%;
}

.mobile-image{
    height: 40vh;
    width: 100%;
}

.inline-logo {
    height: 2rem;
    width: auto;
    padding: 0;
}

.norican-font{
    font-family: 'Norican', cursive, sans-serif;
}

.text-shadow-page-title{
    text-shadow: 2px 2px #222;
}