<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
    <div class="bg-dark bottom-0 position-relative w-100 p-4" style="min-height: 10vh">
        <p class="heading-6 text-light text-end">view the artists that made this site possible
            <a class="text-decoration-none text-light fw-bold " th:href="@{|/bolo/references|}">here</a></p>
    </div>
</footer>

</body>
</html>